{% extends 'layout.html' %}

{% block content %}

<table class="table table-bordered">
	<thead class="table-primary">
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Name</th>
			<th scope="col">Buttons</th>
		</tr>
	</thead>
	<tbody>
		{% for category in categories %}
		<tr>
			<td>{{category.id}}</td>
			<td>{{category.name}}</td>
			<td>
				<a href="{{url_for('todo.category_delete', id=category.id)}}">
					<input type="button" class="btn btn-danger" value="Delete">
				</a>
				<a href="{{url_for('todo.category_update', id=category.id)}}">
					<input type="button" class="btn btn-primary" value="Edit">
				</a>
			</td>
		</tr>
	</tbody>
	{% endfor%}
</table>


{% endblock %}